/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8f8f8f #252627;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #252627;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #8f8f8f;
    border-radius: 20px;
    border: 3px solid #252627;
  }

:root{
    --primary: #624be2!important;
}
canvas {
    margin-left: 7%;
    margin-top: 10px;
}

header {
    background: var(--primary)!important;
}

#img-out {
	margin-top: 13px;
}

body {
    background: #0d1216;
    height: 100vh;
}
#sidebarMenu {
    overflow: auto;
    height: calc(100vh - 60px);
}

.bg-new{
    background: #252627;
}

.cards {
    overflow: hidden;
    cursor: pointer;
    width: 600px;
    border: none;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


.cards h1 {
    font-size: 48px;
    margin-bottom: 0px
}

.cards span {
    font-size: 28px
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.btnBlanco{
    background:#000;
    color: #fff;
}

.btnBlanco:hover{
    color: #CCC;
}

div#contenido p:hover{
    border: var(--primary) 1px outset;
}

div#contenido img:hover{
    border: var(--primary) 1px outset;
}



.btnPrimary {
    background: var(--primary);
    color: #fff;
}

.btnPrimary:hover {
    background: #fff;
    color: #000;
}

.preset {
    cursor: pointer;
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.preset:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

.mostrar {
    display: block;
}

.ocultar {
    display: none;
}

.btnSidebar{
    border: 1px solid #fff;
    color: #fff;
}

.btnSidebar:hover{
    border: 1px solid #000;
    background: var(--primary);
    ;
}