:root{
    --primary: #624be2!important;
}
canvas {
    margin-left: 7%;
    margin-top: 10px;
}

header {
    background: var(--primary)!important;
}

#img-out {
	margin-top: 13px;
}

body {
    background: #0d1216;
    height: 100vh;
}
#sidebarMenu {
    height: 695px;
}

.bg-new{
    background: #252627;
}

.cards {
    overflow: hidden;
    cursor: pointer;
    width: 600px;
    border: none;
    height: 600px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


.cards h1 {
    font-size: 48px;
    margin-bottom: 0px
}

.cards span {
    font-size: 28px
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.btnBlanco{
    background:#000;
    color: #fff;
}

.btnBlanco:hover{
    color: #CCC;
}

div#contenido div:hover{
    border: var(--primary) 1px outset;
}

div#contenido img:hover{
    border: var(--primary) 1px outset;
}



.btnPrimary {
    background: var(--primary);
    color: #fff;
}

.btnPrimary:hover {
    background: #fff;
    color: #000;
}